/* --- Universal styles --- */ 

root {
  font-size: 16px;
}


html {
  height: 100%;
}


.Default-Styling {
  background: #eeecec;
  margin: 8px;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(110, 110, 110);

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --default-height: 97vh;
  --default-width: 90vw;


  --secondary_color:#FFBF49;
  --tertiary_color:#FD4855;

}



.Overall-Parent{
  align-content: start;
  margin-top: 4.5rem;
  margin-right: 0.5rem;
}

.Mobile-View{
  display: none;
}


.Article-Parent{
}

.Article-HTML{
  display: grid;
  font-size: 1.25rem;
  justify-content: center;
  margin: 0rem 0.75rem 0rem 0.75rem;
  line-height: 1.75rem;
  color: #1d1d1d;
}

.Article-HTML > div {
  max-width: 50rem;
  margin-bottom: 0.75rem;
}

.Article-HTML > div > div {
  margin-bottom: 0.5rem;
}

/* ----- Top Section----- */ 




.Nav-Flex-Parent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 3rem;
  width: 100vw;
  color: rgb(146, 146, 146);
  font-size:1.25rem;
  background: #1b1b1b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-decoration: underline;
}

.Nav-Selected{
  color: sandybrown;  
}

.Nav-Link{
  color: inherit;

}

/*
Just to normalize appearance amongst navbar elements - for example, without all:inherit, the github link will
color its underline on hover as well, unlike the other navbar elements.
*/

.Nav-Link:hover{
  all: inherit;
  cursor: pointer;
  color: purple;
}


.Nav-Link:visited{
}

.News-Grid-Parent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  font-size:1.5rem;
  gap: 4rem;
}


/*
Would use unset itself, but it causes issues with IOS safari in some cases.
*/
.Button-Unset{
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  display: block;
  text-align: left;

  cursor: pointer;
  height: 100%;
  width: 100%;
  -moz-appearance: none;
-webkit-appearance: none;
}

.BLUESTUFF{
  color:blue;
}

.Button-Unset:hover{
  color: purple;
}

.Button-Unset:visited{
  color: purple;
}

.News-Square{
  display: grid;
  align-content: space-around;
  align-items: end;
  color: blue;
  height: 100%;
  width: 100%;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
  border-radius: 2px;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
}


.News-Square:hover{
  color:purple;
}


.News-Title-Text{
  text-decoration: underline;
}

.News-Preview-Text{
  color: #121212;
  padding-top: .5rem;
  font-size: 1rem;
}


/*
No size restriction such as hiding overflow etc, 
relying on character limits for the content to prevent overflow issues.
*/



p{
  line-height: 2rem;
}

.Large-View{
  line-height: 2rem;
}


.Graph-X-Axis{
  font-size: 1rem;
}

.recharts-cartesian-axis-ticks{
  font-size: .7rem;
  font-family: inherit;
}

.Graph-Title{
  font-size: 1.5rem;
  text-align: center;
  color: #1d1d1d;
  margin-top: 1rem;
}


.Graph-Itself{
  max-width: 80rem;
  margin: 0 auto;
}

.Revert-Graph-Parent{
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}

.Revert-Graph{
  font-family: inherit;
  font-size: inherit;
  height: 2.6rem;
  line-height: 2.6rem;
  padding: 0 .8rem 0 1.1rem;
  color: #eeecec;
  background: rgb(15, 52, 175);
  border-right: 0rem;
  border-bottom: 0.24rem solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.2);


    
}


.Revert-Graph:hover {
  background-color:rgb(13, 44, 145);
}

.Revert-Graph:active {
  background-color:rgb(13, 44, 145);
  transform: translateY(0.1rem);
}

/*
Centering in this way because recharts has some bad interactions with flex/grid containers.
*/


.recharts-xAxis{
  height: 55.5rem;
}


.Graph-X-Axis{
  height: 55.5rem;
}

.recharts-cartesian-axis-tick{
  height: 55.5rem;
}


@media (min-width:900px) and (min-height: 800px){

  .Article-HTML{
    font-size: 1.5rem;
  }

  .Article-HTML > div {
    line-height: 2.25rem;
  }
  
}


@media (max-width:890px){



}


@media (min-width:760px) and (max-height: 530px){


}


@media (max-width:500px){

  .Graph-X-Axis{
    font-size: 0.63rem;
  }

  .Article-HTML{
    display: grid;
    font-size: 1.1rem;
    justify-content: center;
  }

  
.Article-HTML > div {
  line-height: 1.75rem;
}

}



@media (max-width:460px){



  .Large-View{
    display: none;
  }

  .Mobile-View{
    display: inline-block;
    line-height: 1.4rem;
  }

}
